<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rahul.com.newholypublicschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/logoold"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoold"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Content" />
        <activity android:name=".Teacher" />
        <activity android:name=".DashboardManager" />
        <activity android:name=".Login" />
        <activity android:name=".Attendance" />
        <activity android:name=".Homework" />
        <activity android:name=".Forgotpass" />
        <activity android:name=".Reception" />
        <activity android:name=".ResetPass" />
        <activity android:name=".Utils.CropActivity" />
        <activity android:name=".FeesStruct" />
        <activity android:name=".Reportcard" />
        <activity android:name=".My_info" />
        <activity android:name=".Pdf" />
        <activity android:name=".Report_card" />
        <activity android:name=".Classmate" />
        <activity android:name=".Compose" />
        <activity android:name=".ReceptionRecord" />
        <activity android:name=".Bus" />
        <activity android:name=".PasswordChange" />
        <activity android:name=".AboutSchool" />
        <activity android:name=".TeacherUpload" />
        <activity android:name=".TimeTable" />
        <activity android:name=".Notice" />
        <activity android:name=".FileDownload" />
        <activity android:name=".TeacherInfo" />
        <activity android:name=".Downloader" />
        <activity android:name=".example"></activity>
    </application>

</manifest>